<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="CURRENT_CONNECTION_STRING" value="WebCatalog_DEV" />
    <add key="tempdir" value="c:\temp" />
    <add key="aspnet:MaxHttpCollectionKeys" value="9999"></add>
  </appSettings>
  <connectionStrings>
    <add name="WebCatalog_DEV" connectionString="Data Source=ora19test;User Id=inac;Password=inac" providerName="System.Data.OracleClient" />
    <add name="WebCatalog_DEM" connectionString="Data Source=ora12dev;User Id=inac;Password=inac" providerName="System.Data.OracleClient" />
  </connectionStrings>
  <system.web>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>

</configuration>
